<mat-toolbar color="accent"> 
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="color:black">Bit Brains Tech</span>
  <span class="example-spacer"></span>
  
  
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with welcome icon">
    <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with Logout icon">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with Logout icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of sidemenus">
        <a mat-list-item href={{menu.path}}>{{ menu.name }} </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
